body{
  background-color: #FFF ;
  /* e2e8f0  D1D0D1*/
}
hr{
  border-top: 1px solid var(--secondry);
  margin-bottom: 7.5px;
}


#header{
  background-color: var(--primary);
  width: 100%;
  text-align: center;
  font-size: 36px;
  color:white;
}


.card{
  width: 24%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  float: left;
  overflow: auto;
  border-radius: 5px;
  background-color: #FFF;
  padding: 1%;
  margin-left: 1%;
}

.card img{
  align-self: center;
  border-radius: 50%;
  width: 200px;
  margin-left: 2%;
}


.lower{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


.personalinfo,
.studinfo,
.continfo{
  width: 74%;
  height: 50%;
  margin-left: 1%;
  margin-top: 10px;
  background-color: var(--backgroud);
  overflow: hidden;
  float: right;
  border-radius: 5px;

}
.studinfo{
  margin-bottom: 10%;
}

.info{
  margin-left: 3%;
  display: flex;
  flex-direction: column;
}
.info label{
  text-align: center;
  color: black;
  font-weight: bold;
}


.infotype {
  text-align: left;
  margin: 10px;
  margin-left: 2%;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 26px;
  color: var(--primary);
}


.btn{
  width: 150px;
  height: 36px;
  border-radius: 10px;
  background-color: var(--primary);
  color : white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}



.btn:hover {
  background-color: var(--backgroud);
  color: var(--primary);
  border: 1px solid var(--primary);
}


@media(max-width: 1063px){
  .rwd{
    display: flex;
    flex-direction: column;
  }
  .card{
    width: 100%;

  }
}