{% extends 'students/index.html' %}
{% load static %}
{% block head %}
  <title>Edit Student Department</title>
  <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}" />
  <link rel="stylesheet" href="{% static 'CSS/depart.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
{% endblock head %}
{% block body %}
<div class="container">
  <div id="header">Edit Student Department</div>
  <form method="POST">
    {% csrf_token %}
    <div class="form__">
      <div class="info">
        <div>
          <b>ID</b>
          <p>
            <label id="studid" for="id"></label> <!-- ID -->
            <input type="hidden" name="id" id="submit_id"/>
          </p>
          <hr />
        </div>
        <div>
          <b>Name</b>
          <p>
            <label id="studname" for="studname"> </label> <!--name-->
          </p>
          <hr />
        </div>
        <div>
          <label for="deps"> <b>Department</b> </label>
          <select class="form-control" id="deps" required>
            <option value="General">General</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Artificial Intelligence">Artificial Intelligence</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Cyber Security">Cyber Security</option>
            <option value="Data Science">Data Science</option>
          </select>
        </div>
      </div>
      <br />
    </div>
    <button
      class="btn"
      type="submit"
      onclick="verify_level()"
      formaction="/xploreedu/profile/"
    >
      Update
    </button>
  </form>
</div>
<script>var student_id = {{ student.id }};</script>
<script src="{% static 'JS/depart.js' %}"></script>
<script src="{% static 'JS/home.js' %}"></script>
{% endblock body %}