{% extends 'students/index.html' %}

{% load static %}
{% block head %}
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/profile.css' %}" />
{% endblock head %}
{% block body %}
<div class="container">
  <div id="header">Student Profile</div>
  <div class="rwd">
    <div class="card">
      <img src="/media/{{student.picture}}" id="profilePic" alt="" width="150" />
      <div class="lower">
        <div>
          <form method="POST" action="/xploreedu/update/">
            {% csrf_token %}
            <input type="hidden" name="id" id="submit_id" value="{{student.id}}"/>
            <button
              class="btn"
              type="submit"
            >
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="personalinfo">
      <div class="infotype">Personal Info</div>
      <div class="info">
        <b>Name</b>
        <label id="studname">{{student.name}}</label>
        <hr />
        <b>Date of Birth</b><label id="studbirth">{{student.bdate}} </label>
        <hr />
        <b>Gender</b><label id="studgender">{{student.gender}} </label>
        <hr />
      </div>
      <br />
    </div>
    <div class="continfo">
      <div class="infotype">Contact Info</div>
      <div class="info">
        <b>Email</b><label id="studmail">{{student.email}} </label>
        <hr />
        <b>Mobile Number</b><label id="studphone">{{student.phone}} </label>
        <hr />
        <br />
      </div>
    </div>
    <div class="studinfo">
      <div class="infotype">Student Info</div>
      <div class="info">
        <b>ID</b><label id="studid">{{student.id}} </label>
        <hr />
        <b>GPA</b><label id="gpa">{{student.gpa}} </label>
        <hr />
        <b>Level</b><label id="lvl">{{student.level}} </label>
        <hr />
        <b>Department</b><label id="depart">{{student.department}} </label>
        <hr />
        <b>Status</b><label id="status">{{student.status}} </label>
        <hr />
        <br />
      </div>
    </div>
  </div>
</div>
<script src="{% static 'JS/home.js' %}"></script>
<script src="{% static 'JS/profile.js'%}"></script>
{% endblock body %}