{% extends 'students/index.html' %}
{% load static %}
{% block head %}
    <title>View active students</title>
    <link rel="stylesheet" href="{%static 'CSS/navbar.css'%}">
    <link rel="stylesheet" href="{%static 'CSS/misc_css.css'%}">
    <link rel="stylesheet" href="{%static 'CSS/table.css'%}">
{% endblock head %}

{% block body %}
<div id="header">Active Students</div>
<div class='container'>
    <form method="POST">
        {% csrf_token %}
        <table class='table table-bordered text-center' id='main_table'>
            <tr>
                <th colspan="100%">
                    <input type="search" placeholder="Search" id='search' class='search form-control'>

                </th>
            </tr>
            <tr class="table-header">
                    <th>Select</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>GPA</th>
                    <th>Level</th>
                    <th>Email</th>
                    <th>Phone</th>
            </tr>
            <tbody id='main_tbody'>
            </tbody>
            

        </table>
        <br>
        <div class = "button_container">
            <button type="submit" class='btn' formaction="/xploreedu/update/" placeholder="Edit">Edit</button>
            <button type="submit" id = 'department_submit' class='btn' formaction="/xploreedu/department/" style="margin-left: 1.1vw;"
                placeholder="Change department">Change Department</button>
            <button type="submit" class='btn' formaction="/xploreedu/profile/" style="margin-left: 1.1vw;"
                placeholder="open profile">Open Profile</button>

        </div>
    </form>
</div>
<script src="{% static 'JS/main.js' %}"></script>
<script src="{% static 'JS/table.js' %}"></script>

<script src="{% static 'JS/view_active.js' %}"></script>
<script src="{% static 'JS/home.js' %}"></script>

{% endblock body %}
